/* AppRBillWebReact/styles/Footer.css */
.footer {
  background-color: #1f2937;
  color: white;
  padding: 24px;
  text-align: center;
}

.footer p {
  font-size: 14px;
  margin: 0;
}

.footer p:last-child {
  margin-top: 8px;
}